/* FONTS */

@font-face {
    font-family: "Retro Gaming";
    src: url('FONTS/retro.ttf') format('truetype');
}

@font-face {
    font-family: "Cafe";
    src: url('FONTS/cafe.ttf') format('truetype');
}

@font-face {
    font-family: "Minecraft";
    src: url('FONTS/Minecraft.ttf') format('truetype');
}
/* BEGIN PAGE */

#begin {
    background-image: url('assets/begin_background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    



.buttonLink {
    text-decoration: none;
    color: #49CBBE;
}


.start {
    background-color: #B2EDE7;
    border-style:solid;
    border-radius: 8px;    
    transition: transform 0.4s;
    border-color: #49CBBE;
    box-shadow: 0 0 5px black;
    font-size: 30px;

}

.start:hover {
        transform: scale(1.5);
    }
 

.pressHearts {
    color: #49CBBE;
    text-shadow: .5px .5px 1px black;
    font-family: "Retro Gaming";
    font-weight: lighter;
}


.beginWelcome {
    color: #49CBBE;
    text-shadow: .5px .5px 1px black;
    font-size: 50px;
    text-decoration: none;
    font-family: "Retro Gaming";
    font-weight: lighter;
}

.beginCoquette {
    background-color: #D9F3EA;
    border-style: solid;
    border-radius: 40px;
    border-color: white;
    box-shadow: 0 0 40px #69C7BE;
    text-align: center;
    padding: 20px;

    
}

.about {
    list-style-type: disc;
    list-style-position:inside;
    font-size: 25px;
    font-family: "Cafe";
    
}

.taiyaki {
    float: right;
}

/* BEGIN PAGE END */


/* WELCOME PAGE */

#site {
    background-image: url("ASSETS/splatterBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomePage {
    background-color: #FFF7D4;
    border-style:double;
    border-color: #FF7094;
    border-radius: 40px;
    border-width:10px;
    margin: 1% 9% 2%;
    box-shadow: 0 0 10px rgb(69, 69, 69);
}

#layout {
    display: grid;
    grid-template-columns: .7fr 4fr 1fr;
    column-gap: 2%;
    border-radius: 40px;
    margin: 5%;
}

header {
    border-style:double;
    border-width:7px;
    border-color: #FF7094;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 10px rgb(69, 69, 69);
    grid-column: span 3;
    image-rendering: auto;
    background-image: url("ASSETS/splatterBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    margin-bottom: 2%;
}



/* COLUMNS */


.fakeUL {
    list-style-type: none;
    line-height: 200%;
}




.leftNavigation {
    border-style: double;
    border-width:7px;
    border-color: #FF7094;
    box-shadow: 0 0 10px rgb(69, 69, 69);
    background-image: url("ASSETS/splatterBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

    .leftNavigation li {
            border-style: solid;
            border-width:9px;
            border-image: url("ASSETS/biscuit border.gif") 9 fill round;
            filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));
            line-height: 50%;
            margin: 0 10px 10px;
            text-align: center;

    }

    .leftNavigation li a {
            text-decoration: none;
            padding: 10px;
            font-family: "Minecraft";
            font-size: 1.5em;
            color: #734e19;
            
            
    }

    .leftNavigation h4 {
        font-family: "Retro Gaming";
        font-weight: lighter;
        border:5px solid;
        border-width: 1px;
        border-color: #FF7094;
        background-color: #FF7094;
        margin-bottom: 15%;
        color:#FFF7D4;
        text-shadow: 0 .5px .5px rgb(0, 0, 0);
    }

            .hiH4 {
                text-align: left;
                padding-left: 20%;
            }
            
            .lovesH4 {
                text-align: right;
                padding-right: 11%;
                
            }

            .otherH4 {
                text-align: left;
                padding-left: 9%;
            }



.middle {
    
    border-style: double;
    border-width:7px;
    border-color: #FF7094; 
    box-shadow: 0 0 10px rgb(69, 69, 69);
    background-image: url("ASSETS/splatterBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

    .middle h1 {
        font-family: "Retro Gaming";
        font-weight: lighter;
        font-size: 3.5em;
        max-width: 700px;
        color: #FFD61F;
        text-shadow: 0 2px 3px rgb(0, 0, 0);
        line-height: 90%;
        text-align: right;
        margin-right: 15px;

    }

    .middle p {
        font-family: "Minecraft";
        color: #000000;
        text-shadow: 0 .5px .5px rgb(0, 0, 0);
        line-height: 150%;
        text-align: right;
        margin-right: 15px;
        margin-left: 10px;
        font-size: 1.5em;
    }

    .birthday {
        margin: -5% 0 0 4%;
        border-radius: 40px;
        border-style: ridge;
        border-color:#2ad0dc;
        background-color: #B2EDE7;
        border-width: 5px;
        float: left;
        text-align: center;
        color:#FFF7D4;
        text-shadow: 0 2px 3px rgb(0, 0, 0);
        filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));
    }

    .birthday h3 {
        font-family: "Retro Gaming";
    }







.right { 
    box-shadow: 0 0 10px rgb(69, 69, 69);
    border-style: double;
    border-width:7px;
    border-color: #FF7094;
    background-image: url("ASSETS/splatterBG.png");
    background-repeat: no-repeat;
    background-size: cover;

}

    .musicH3 {
        margin: 10px 10px 10px;        
        border-style: solid;
        border-radius: 40px;
        border-width: 20px;
        border-image: url("ASSETS/greenPolka.png") 250 fill round;
        filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));
        text-align:center;
        align-items: center;

}

        .musicH3 h3 {
        padding: 5% 5% 0;
        color:#40f74c;
        font-family: "Retro Gaming";
        font-weight: lighter;
        text-shadow: 0 .5px .5px rgb(0, 0, 0);
        margin-top: -3px;
        text-decoration: underline;
        text-decoration-style: wavy;
        }


        .musicH3 h5 {
            padding: 0 5% 0;
            font-family: "Minecraft";
            font-size: 1em;
            color: black;
            text-shadow: none;
            text-decoration: none;
            filter: none;
            margin: -10px -5px -5px;
        }

        .playMusic {
            margin-bottom: 5px;
        }

.right li {
    list-style-type: none;
    text-align: center;
}

.right h4 {
        font-family: "Retro Gaming";
        font-weight: lighter;
        border:5px solid;
        border-width: 1px;
        border-color: #FF7094;
        background-color: #FF7094;
        padding: 8px;
        color:#FFF7D4;
        text-shadow: 0 .5px .5px rgb(0, 0, 0);    
}

.rightPanel h5 {
    font-family: "Retro Gaming";
    letter-spacing: 2px;
    color:#FF7094;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 0 5px;
    border-style: solid;
    border-width:15px;
    border-image: url("ASSETS/lettuceBorder.png") 150 fill round;
    text-shadow: 0px 1.5px 1.5px rgb(255, 255, 255);    
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));

}

.rightPanel p {
    font-family: "Minecraft";
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: -10%;
    margin-bottom: -10%;
}

.socialMedia {
    margin: 30px 10px 10px;
    text-align: center;
}

.socialMedia h3 {
    font-family: "Retro Gaming";
    border-style: solid;
    border-radius: 40px;
    border-width: 20px;
    border-image: url("ASSETS/greenPolka.png") 250 fill round;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));
    text-align:center;
    padding: 5%;
    color:#2ad0dc;
    font-family: "Retro Gaming";
    font-weight: lighter;
    text-shadow: 0 .5px .5px rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-style: wavy;

}



.socialMedia li a {
    color: #734e19;

}

.socialMedia p {  
    border-style: solid;
    border-width:9px;
    border-image: url("ASSETS/biscuit border.gif") 9 fill round;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));
    text-align: center;
    font-family: "Minecraft";
    font-size: 1.5em;
    color: #734e19;
    line-height: 50%;
            
}



footer {
    border-radius: 0 0 40px 40px;
    border-style: double;
    border-width: 7px;
    border-color: #FF7094;
    grid-column: span 3;
    text-align: center;
    background-image: url("ASSETS/splatterBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgb(69, 69, 69);
    margin-top: 2%;
}


/* CHATBOX */



















/* ME PAGE */

.aboutMe {
    color:#49CBBE;
    margin: 5%;
    border-style: solid;
    border-radius: 40px;
    border-width: 20px;
    border-image: url("ASSETS/pinkPolkaBorder.png") 250 fill round;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));
    text-align: left;
    line-height: 0.1px;
}

    .aboutMe h3 {
    text-shadow: 0 2px 3px rgb(0, 0, 0);
    text-align: center;
    font-size: 3.5em;
    font-family: "Retro Gaming";

    
    }

    .aboutMe h4 {
    text-shadow: 0 .5px .5px rgb(0, 0, 0);
    font-weight: lighter;
    font-family: "Retro Gaming";
    text-align: left;
    font-size: 1.5em;
    display: inline-block;

    }
    
    .aboutMe p {
        text-shadow: 0 .5px .5px rgb(0, 0, 0);
        display: inline-block;
        font-family: "Minecraft";
        font-size: 1.5em;
        text-align: left;
    }

    .aboutMe li {
        margin-bottom: -4%;
        line-height: 1px;
        list-style-type: none;
    }




/* MUSIC */

audio {
    border-radius: 40px;
    width: 50%;
}

/* IMAGES */

.burgerCute {
    float:left;
    width: 30%;
    height: auto;
    margin: 5% 2% 0 5%;
    border-style: solid;
    border-radius: 40px;
    border-width: 20px;
    border-image: url("ASSETS/pinkPolkaBorder.png") 250 fill round;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));

}

.rilakkumaTart {
    width: 5%;
    height: auto;
    top: 44%;
    left: 18%;
    position: absolute;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));
}


.usagiHeart {
    width: 3.75%;
    height: auto;
    top: 73%;
    left: 15%;
    position: absolute;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));

}

.pinkFlower {
    width: 3.75%;
    height: auto;
    top: 122%;
    left: 19.6%;
    position: absolute;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));

}

.cover {
    margin-top: 15%;
    padding: none;
    width: 65%;
    align-items: center;
}

.dogMusic {
    width: 55%;
    height: auto;
    top: 85%;
    right: -27%;
    position: absolute;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));

}

.waffleIceCream {
    width: 99%;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #FF7094;
    margin-top: 15px;
}

.summikoBanner {
    width: 100%;
    height: auto;
    margin-top: -30%;
    margin-bottom: -10%;
    filter: drop-shadow(0px .2px 1px rgb(0, 0, 0));

}

.NamiPFP {
    width: 37%;
    height:auto;
    float: right;
    border-style: solid;
    border-radius: 40px;
    margin: 2% 6% 0 0;
    filter: drop-shadow(0px 2px 2px rgb(0, 0, 0));

}
